<%= form_for @travel_post, :html => {:class => "form-horizontal" } do |f| %>


   <% if @travel_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@travel_post.errors.count, "error") %> prohibited this travel_news from being saved:</h2>

      <ul>
      <% @travel_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-body">
 <div class="form-group">
            <label class="col-md-3 control-label">Name</label>
            <div class="col-md-9">
    <%= f.text_field :title,  :class =>"form-control" %>
     </div>
        </div>
 <div class="form-group">
            <label class="col-md-3 control-label">Content</label>
            <div class="col-md-9">
    <%= f.text_field :content,  :class =>"form-control" %>
     </div>
        </div>
 <div class="form-group">
            <label class="col-md-3 control-label">Writer</label>
            <div class="col-md-9">
    <%= f.text_field :writer,  :class =>"form-control" %>
      </div>
  </div>
 

    <div class="row">
          <div class="col-md-offset-3 col-md-9">
            <%= f.submit :class=>"btn blue" %>
            <button type="button" class="btn default">Cancel</button>
          </div>
        </div>
  
  <br/>

<% end %>
