<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @souvenir.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @souvenir.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @souvenir.address %>
</p>

<p>
  <strong>Souvenir type:</strong>
  <%= @souvenir.souvenir_type %>
</p>

<%= link_to 'Edit', edit_souvenir_path(@souvenir) %> |
<%= link_to 'Back', souvenirs_path %>
